*.jpg
*.mp4S
*.mp4
*.png
*.avi
*.jpeg
*.gif
*.bmp
*.JPG
*.JPEG
*.PNG

/saved_images

#private local files and secrets
.DS_Store
.env
*.key
*.secret


#private scripts
commiter.sh

#python files
*.pyc
*.pyo
*.pyd

#pycache
__pycache__

#logs
*.log
